@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?w5joa8');
  src:  url('../fonts/icomoon.eot?w5joa8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w5joa8') format('truetype'),
    url('../fonts/icomoon.woff?w5joa8') format('woff'),
    url('../fonts/icomoon.svg?w5joa8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
  content: "\e900";
}
.icon-classic-computer:before {
  content: "\e901";
}
.icon-creative-commons-noderivs:before {
  content: "\e902";
}
.icon-creative-commons-noncommercial-eu:before {
  content: "\e903";
}
.icon-creative-commons-noncommercial-us:before {
  content: "\e904";
}
.icon-creative-commons-public-domain:before {
  content: "\e905";
}
.icon-creative-commons-remix:before {
  content: "\e906";
}
.icon-creative-commons-share:before {
  content: "\e907";
}
.icon-creative-commons-sharealike:before {
  content: "\e908";
}
.icon-creative-commons:before {
  content: "\e909";
}
.icon-document-landscape:before {
  content: "\e90a";
}
.icon-remove-user:before {
  content: "\e90b";
}
.icon-warning:before {
  content: "\e90c";
}
.icon-arrow-bold-down:before {
  content: "\e90d";
}
.icon-arrow-bold-left:before {
  content: "\e90e";
}
.icon-arrow-with-circle-up:before {
  content: "\e90f";
}
.icon-bookmark:before {
  content: "\e910";
}
.icon-bookmarks:before {
  content: "\e911";
}
.icon-chevron-down:before {
  content: "\e912";
}
.icon-chevron-left:before {
  content: "\e913";
}
.icon-chevron-right:before {
  content: "\e914";
}
.icon-chevron-small-down:before {
  content: "\e915";
}
.icon-chevron-small-left:before {
  content: "\e916";
}
.icon-chevron-small-right:before {
  content: "\e917";
}
.icon-chevron-small-up:before {
  content: "\e918";
}
.icon-chevron-thin-down:before {
  content: "\e919";
}
.icon-chevron-thin-left:before {
  content: "\e91a";
}
.icon-chevron-thin-right:before {
  content: "\e91b";
}
.icon-controller-stop:before {
  content: "\e91c";
}
.icon-controller-volume:before {
  content: "\e91d";
}
.icon-dot-single:before {
  content: "\e91e";
}
.icon-dots-three-horizontal:before {
  content: "\e91f";
}
.icon-dots-three-vertical:before {
  content: "\e920";
}
.icon-dots-two-horizontal:before {
  content: "\e921";
}
.icon-dots-two-vertical:before {
  content: "\e922";
}
.icon-download:before {
  content: "\e923";
}
.icon-emoji-flirt:before {
  content: "\e924";
}
.icon-flow-branch:before {
  content: "\e925";
}
.icon-flow-cascade:before {
  content: "\e926";
}
.icon-flow-tree:before {
  content: "\e927";
}
.icon-install:before {
  content: "\e928";
}
.icon-layers:before {
  content: "\e929";
}
.icon-open-book:before {
  content: "\e92a";
}
.icon-sound:before {
  content: "\e92b";
}
.icon-trash:before {
  content: "\e92c";
}
.icon-triangle-down:before {
  content: "\e92d";
}
.icon-triangle-left:before {
  content: "\e92e";
}
.icon-triangle-right:before {
  content: "\e92f";
}
.icon-triangle-up:before {
  content: "\e930";
}
.icon-uninstall:before {
  content: "\e931";
}
.icon-upload-to-cloud:before {
  content: "\e932";
}
.icon-upload:before {
  content: "\e933";
}
.icon-add-user:before {
  content: "\e934";
}
.icon-address:before {
  content: "\e935";
}
.icon-adjust:before {
  content: "\e936";
}
.icon-air:before {
  content: "\e937";
}
.icon-aircraft-landing:before {
  content: "\e938";
}
.icon-aircraft-take-off:before {
  content: "\e939";
}
.icon-align-horizontal-middle:before {
  content: "\e93a";
}
.icon-align-left:before {
  content: "\e93b";
}
.icon-align-right:before {
  content: "\e93c";
}
.icon-back-in-time:before {
  content: "\e93d";
}
.icon-back:before {
  content: "\e93e";
}
.icon-bar-graph:before {
  content: "\e93f";
}
.icon-battery:before {
  content: "\e940";
}
.icon-beamed-note:before {
  content: "\e941";
}
.icon-bell:before {
  content: "\e942";
}
.icon-blackboard:before {
  content: "\e943";
}
.icon-block:before {
  content: "\e944";
}
.icon-book:before {
  content: "\e945";
}
.icon-bowl:before {
  content: "\e946";
}
.icon-box:before {
  content: "\e947";
}
.icon-briefcase:before {
  content: "\e948";
}
.icon-browser:before {
  content: "\e949";
}
.icon-brush:before {
  content: "\e94a";
}
.icon-bucket:before {
  content: "\e94b";
}
.icon-calendar:before {
  content: "\e94c";
}
.icon-camera:before {
  content: "\e94d";
}
.icon-ccw:before {
  content: "\e94e";
}
.icon-database:before {
  content: "\e94f";
}
.icon-dial-pad:before {
  content: "\e950";
}
.icon-direction:before {
  content: "\e951";
}
.icon-document:before {
  content: "\e952";
}
.icon-documents:before {
  content: "\e953";
}
.icon-forward:before {
  content: "\e954";
}
.icon-funnel:before {
  content: "\e955";
}
.icon-game-controller:before {
  content: "\e956";
}
.icon-gauge:before {
  content: "\e957";
}
.icon-globe:before {
  content: "\e958";
}
.icon-language:before {
  content: "\e959";
}
.icon-laptop:before {
  content: "\e95a";
}
.icon-leaf:before {
  content: "\e95b";
}
.icon-level-down:before {
  content: "\e95c";
}
.icon-level-up:before {
  content: "\e95d";
}
.icon-login:before {
  content: "\e95e";
}
.icon-loop:before {
  content: "\e95f";
}
.icon-magnet:before {
  content: "\e960";
}
.icon-magnifying-glass:before {
  content: "\e961";
}
.icon-mail:before {
  content: "\e962";
}
.icon-man:before {
  content: "\e963";
}
.icon-map:before {
  content: "\e964";
}
.icon-mask:before {
  content: "\e965";
}
.icon-medal:before {
  content: "\e966";
}
.icon-mobile:before {
  content: "\e967";
}
.icon-old-phone:before {
  content: "\e968";
}
.icon-palette:before {
  content: "\e969";
}
.icon-paper-plane:before {
  content: "\e96a";
}
.icon-pencil:before {
  content: "\e96b";
}
.icon-phone:before {
  content: "\e96c";
}
.icon-pie-chart:before {
  content: "\e96d";
}
.icon-pin:before {
  content: "\e96e";
}
.icon-plus:before {
  content: "\e96f";
}
.icon-popup:before {
  content: "\e970";
}
.icon-progress-full:before {
  content: "\e971";
}
.icon-ruler:before {
  content: "\e972";
}
.icon-scissors:before {
  content: "\e973";
}
.icon-share-alternitive:before {
  content: "\e974";
}
.icon-share:before {
  content: "\e975";
}
.icon-shareable:before {
  content: "\e976";
}
.icon-shield:before {
  content: "\e977";
}
.icon-shop:before {
  content: "\e978";
}
.icon-shopping-bag:before {
  content: "\e979";
}
.icon-shopping-basket:before {
  content: "\e97a";
}
.icon-spreadsheet:before {
  content: "\e97b";
}
.icon-tag:before {
  content: "\e97c";
}
.icon-text-document-inverted:before {
  content: "\e97d";
}
.icon-text-document:before {
  content: "\e97e";
}
.icon-text:before {
  content: "\e97f";
}
.icon-thermometer:before {
  content: "\e980";
}
.icon-thumbs-down:before {
  content: "\e981";
}
.icon-time-slot:before {
  content: "\e982";
}
.icon-tools:before {
  content: "\e983";
}
.icon-traffic-cone:before {
  content: "\e984";
}
.icon-tree:before {
  content: "\e985";
}
.icon-trophy:before {
  content: "\e986";
}
.icon-v-card:before {
  content: "\e987";
}
.icon-video:before {
  content: "\e988";
}
.icon-vinyl:before {
  content: "\e989";
}
.icon-voicemail:before {
  content: "\e98a";
}
.icon-wallet:before {
  content: "\e98b";
}
.icon-water:before {
  content: "\e98c";
}
.icon-500px-with-circle:before {
  content: "\e98d";
}
.icon-500px:before {
  content: "\e98e";
}
.icon-basecamp:before {
  content: "\e98f";
}
.icon-behance:before {
  content: "\e990";
}
.icon-creative-cloud:before {
  content: "\e991";
}
.icon-dropbox:before {
  content: "\e992";
}
.icon-evernote:before {
  content: "\e993";
}
.icon-flattr:before {
  content: "\e994";
}
.icon-foursquare:before {
  content: "\e995";
}
.icon-google-drive:before {
  content: "\e996";
}
.icon-google-hangouts:before {
  content: "\e997";
}
.icon-grooveshark:before {
  content: "\e998";
}
.icon-icloud:before {
  content: "\e999";
}
.icon-mixi:before {
  content: "\e99a";
}
.icon-onedrive:before {
  content: "\e99b";
}
.icon-paypal:before {
  content: "\e99c";
}
.icon-picasa:before {
  content: "\e99d";
}
.icon-qq:before {
  content: "\e99e";
}
.icon-rdio-with-circle:before {
  content: "\e99f";
}
.icon-renren:before {
  content: "\e9a0";
}
.icon-scribd:before {
  content: "\e9a1";
}
.icon-sina-weibo:before {
  content: "\e9a2";
}
.icon-skype-with-circle:before {
  content: "\e9a3";
}
.icon-skype:before {
  content: "\e9a4";
}
.icon-slideshare:before {
  content: "\e9a5";
}
.icon-smashing:before {
  content: "\e9a6";
}
.icon-soundcloud:before {
  content: "\e9a7";
}
.icon-spotify-with-circle:before {
  content: "\e9a8";
}
.icon-spotify:before {
  content: "\e9a9";
}
.icon-swarm:before {
  content: "\e9aa";
}
.icon-vine-with-circle:before {
  content: "\e9ab";
}
.icon-vine:before {
  content: "\e9ac";
}
.icon-vk-alternitive:before {
  content: "\e9ad";
}
.icon-vk-with-circle:before {
  content: "\e9ae";
}
.icon-vk:before {
  content: "\e9af";
}
.icon-xing-with-circle:before {
  content: "\e9b0";
}
.icon-xing:before {
  content: "\e9b1";
}
.icon-yelp:before {
  content: "\e9b2";
}
.icon-dribbble-with-circle:before {
  content: "\e9b3";
}
.icon-dribbble:before {
  content: "\e9b4";
}
.icon-facebook-with-circle:before {
  content: "\e9b5";
}
.icon-facebook:before {
  content: "\e9b6";
}
.icon-flickr-with-circle:before {
  content: "\e9b7";
}
.icon-flickr:before {
  content: "\e9b8";
}
.icon-github-with-circle:before {
  content: "\e9b9";
}
.icon-github:before {
  content: "\e9ba";
}
.icon-google-with-circle:before {
  content: "\e9bb";
}
.icon-google:before {
  content: "\e9bc";
}
.icon-instagram-with-circle:before {
  content: "\e9bd";
}
.icon-instagram:before {
  content: "\e9be";
}
.icon-lastfm-with-circle:before {
  content: "\e9bf";
}
.icon-lastfm:before {
  content: "\e9c0";
}
.icon-linkedin-with-circle:before {
  content: "\e9c1";
}
.icon-linkedin:before {
  content: "\e9c2";
}
.icon-pinterest-with-circle:before {
  content: "\e9c3";
}
.icon-pinterest:before {
  content: "\e9c4";
}
.icon-rdio:before {
  content: "\e9c5";
}
.icon-stumbleupon-with-circle:before {
  content: "\e9c6";
}
.icon-stumbleupon:before {
  content: "\e9c7";
}
.icon-tumblr-with-circle:before {
  content: "\e9c8";
}
.icon-tumblr:before {
  content: "\e9c9";
}
.icon-twitter-with-circle:before {
  content: "\e9ca";
}
.icon-twitter:before {
  content: "\e9cb";
}
.icon-vimeo-with-circle:before {
  content: "\e9cc";
}
.icon-vimeo:before {
  content: "\e9cd";
}
.icon-youtube-with-circle:before {
  content: "\e9ce";
}
.icon-youtube:before {
  content: "\e9cf";
}

